/* nejsme vcerejsi, pouzivame moderni box model */
*,
:after,
:before {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}


.hlavicka {
	background-color: #3498db;
	color: white;
}

a {
	display: block;
	padding: 5px 15px;
	color: white;
	text-decoration: none;
}

a:hover {
	background-color: white;
	color: #3498db;
}

.hlavicka {
	display: flex;
	justify-content: space-between;
}

.navbar {
	display: flex;
	margin: 1px;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
	padding: 10px;
	top: 20px;
	bottom: 20px;
}

.navbar {
	display: flex;
	margin: 1px;
}

.uvod {
	display: flex;
	align-items: center;
}

.sluzby {
	display: flex;
	align-items: center;
}

.nastym {
	display: flex;
	align-items: center;
}

.kontakt {
	display: flex;
	align-items: center;
}

/* ---------------------------------------------------- */
