/* nejsme vcerejsi, pouzivame moderni box model */
*,
:after,
:before {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}


.hlavicka {
	background-color: #3498db;
	color: white;
}

a {
	display: block;
	padding: 5px 15px;
	color: white;
	text-decoration: none;
}

a:hover {
	background-color: white;
	color: #3498db;
}

/* Název webu v hlavičce je na levé straně a navigace na pravé
Název webu má padding 10px nahoře a dole a 20px po stranách. Velikost písma je 30px, tučně a velkým písmem (toto udělejte v CSS, ne změnou HTML obashu)
Položky v navigaci jsou vedle sebe, mají margin 1px, žadný padding
Odkazy v seznamu zabírají celou výšku rodiče a jsou vertikálně vycentrované */

.hlavicka {
	display: flex;
	justify-content: space-between;
}

.logo {
	text-transform: uppercase;
	padding: 10px 20px;
	font-size: 30px;
	font-family: bold;
}

.navbar {
	display: flex;
	margin: 1px;
	padding: 0;
}

li {
	display: flex;
	list-style: none;
	align-items: stretch;
	margin: 1px;
}

a {
	display: flex;
	align-items: center;

}
